- const [...wholeText] = possibilitiesContents.split('\n')
- let i = 1
- const lastElement = wholeText.length - 1

div(id="sessions" class="section_sessions")
    h2 #{wholeText[0]}

    while i <= wholeText.length - 2
        p #{wholeText[i]}
        - i++

    button(class="button") #{wholeText[lastElement]}
