footer(id="footer")
    div(class="footer-left")
        p Договор
        p Политика конфиденциальности
        p Копирайт #{new Date().getFullYear()}
    div(class="footer-right")
        p Мои конатакты
        a(href="https://www.instagram.com/your_soul_coaching/")
            i(class="fab fa-instagram-square")
        a(href="https://wa.me/+447716028758")
            i(class="fab fa-whatsapp-square")
        a(href="skype://ksjusha2005?chat")
            i(class="fab fa-skype")
        a(href="https://t.me/oksana_tukane")
            i(class="fab fa-telegram")
