div(id="about-couching" class="section_coaching")
    h2 О коучинге
    p Здесь какой-то вводный текст. В двух словах о коучинге и его мягких и ненавязчивых методах работы
    button(class="button") Читать
    