div(class="section_navigation")
    div(class="section_navigation-logo")
        p(id="logo") Oksana Tukane
        p(id="name") коуч (ICF) | психолог
    div(class="section_navigation-navbar")
        ul
            li 
                a(href="/RU/#") Главная
            li 
                a(href="/RU/#sessions") Возможности
            li 
                a(href="/RU/#about-couching") О коучинге
            li 
                a(href="/RU/#bio") Обо мне 
            li 
                a(href="#footer") Контакты
            li 
                a(href="#") Запись 
