div(id="sessions" class="section_sessions")
    h2 Возможности 
    p 
        | С коучем можно прорабатывать массу различных тем, и при этом экологично, мягко, без болезненных
        | воспоминаний. Со своими клиентами мы успешно прорабатываем отношения, работу, взаимоотношения с детьми и
        | многое другое.
    button(class="button") Читать
