div(class="section_navigation")
    div(class="section_navigation-logo")
        p(id="logo") Oksana Tukane
        p(id="name") коуч (ICF) | психолог
    div(class="section_navigation-navbar")
        ul
            li 
                a(href="#") Главная
            li 
                a(href="#sessions") Возможности
            li 
                a(href="#about-couching") О коучинге
            li 
                a(href="#bio") Обо мне 
            li 
                a(href="#footer") Контакты
            li 
                a(href="#") Запись 
