div(class="row")
    div(class="col-2")
    div(class="col-lg-4 col-md-12 d-flex justify-content-evenly bio_items bio_items-logo")
        img(src="./../img/client_6.jpg")
    div(class="col-lg-4 col-md-12 d-flex align-items-center bio_items bio_items-text")
        p 
            | Я трансформационный коуч, который поможет вам изменить себя и свою жизнь, поставить цели, создать свою желаемую реальность через изменение себя. Через трансформацию сознания происходит разрешение любых жизненных ситуаций. Вы осознаете и прорабатываете истинную причину сложившихся обстоятельств. Как следствие, в вашей реальности происходят немедленные перемены - уже после первой сессии.
            br
            br
            | Коучинг позволяет осознать себя как личность и какими ресурсами вы обладаете. И через это идти к результату.
            br
            br
            | В своей работе использую коучинговые вопросы, техники НЛП, метафорические карты и современные методы психологии.
    div(class="col-2")

div(class="row bio_items-certificates")
    div(class="col")
        div(class="row")
            div(class="col")
                p мои сертификаты
        div(class="row")
            div(class="col-2")

            mixin certificate(certLogo)
                div(class="col-2")
                    img(src="./../img/certificate-" + certLogo)

            +certificate('1.png')
            +certificate('2.png')
            +certificate('3.png')
            +certificate('4.png')

            div(class="col-2")

div(class="row bio_items-footnote")
    div(class="col")
        p *В процессе сессии я не даю советов и рекомендаций, не высказываю свое мнение. Это ваше комфортное и безопасное пространство, где вас понимают и принимают. Вся работа направлена на раскрытие вашего потенциала и достижение вашей цели.
    