h4 Условия договора
p 
    |Здесь будут условия договора. Много много текста Здесь будут условия договора. Много много текста Здесь будут условия договора.
    | Много много текста Здесь будут условия договора. Много много текста Здесь будут условия договора. Много много текста Здесь 
    | будут условия договора. Много много текста Здесь будут условия договора. Много много текста Здесь будут условия договора. 
    | Много много текста Здесь будут условия договора. Много много текста Здесь будут условия договора. Много много текста Здесь 
    | будут условия договора. Много много текста Здесь будут условия договора. Много много текста Здесь будут условия договора. 
    | Много много текста Здесь будут условия договора. Много много текста Здесь будут условия договора. Много много текста Здесь 
    | будут условия договора. Много много текстаЗдесь будут условия договора. Много много текстаЗдесь будут условия договора. 
    | Много много текста. Много много текстаЗдесь будут условия договора. Много много текстаЗдесь будут условия договора. 
    | Много много текста. Много много текстаЗдесь будут условия договора. Много много текстаЗдесь будут условия договора. 
    | Много много текста. Много много текстаЗдесь будут условия договора. Много много текстаЗдесь будут условия договора. 
    | Много много текста. Много много текстаЗдесь будут условия договора. Много много текстаЗдесь будут условия договора. 
    | Много много текста. Много много текстаЗдесь будут условия договора. Много много текстаЗдесь будут условия договора. 
    | Много много текста. Много много текстаЗдесь будут условия договора. Много много текстаЗдесь будут условия договора. 
    | Много много текста. Много много текстаЗдесь будут условия договора. Много много текстаЗдесь будут условия договора. 
    | Много много текста. Много много текстаЗдесь будут условия договора. Много много текстаЗдесь будут условия договора. 
    | Много много текста. Много много текстаЗдесь будут условия договора. Много много текстаЗдесь будут условия договора. 
    //- - const textArray = termsText.split('\n')
    //- each lineOfText in textArray
    //-     | #{lineOfText}  


