div(class="row")
    div(class="col-6")
        p Privacy Policy 
    div(class="col-6 copyright")
        a(href="https://www.instagram.com/your_soul_coaching/")
            i(class="fab fa-instagram-square")
        a(href="https://wa.me/+447716028758")
            i(class="fab fa-whatsapp-square")
        a(href="skype://ksjusha2005?chat")
            i(class="fab fa-skype")
        a(href="https://t.me/oksana_tukane")
            i(class="fab fa-telegram")
div(class="row")
    div(class="col-6")
        p Terms and Conditions
    div(class="col-6 copyright ")
        p Copyright #{new Date().getFullYear()}
