div(class="row product_items")
    //- div(class="col-md products_diagonal-1")
    div(class="col-md")
    div(class="col-md product_items-item")
        div(class="product-title d-flex align-items-center")
            h4 Успех в личной жизни
        div(class="product-icon")
            i(class="fas fa-heart")
        div(class="product-text")
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam laoreet, mi pretium condimentum luctus, leo sapien pellentesque ex, sit amet fermentum sem neque in turpis.
    div(class="col-md product_items-item")
        div(class="product-title d-flex align-items-center")  
            h4 Успех в работе
        div(class="product-icon")
            i(class="fas fa-star")
        div(class="product-text")
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam laoreet, mi pretium condimentum luctus, leo sapien pellentesque ex, sit amet fermentum sem neque in turpis.
    div(class="col-md product_items-item")
        div(class="product-title d-flex align-items-center")
            h4 Успех в семейной жизни
        div(class="product-icon")
            i(class="fas fa-dove")
        div(class="product-text")
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam laoreet, mi pretium condimentum luctus, leo sapien pellentesque ex, sit amet fermentum sem neque in turpis.
    div(class="col-md product_items-item")
        div(class="product-title d-flex align-items-center")
            h4 Успех и гармония
        div(class="product-icon")
            i(class="fas fa-paw")
        div(class="product-text")
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam laoreet, mi pretium condimentum luctus, leo sapien pellentesque ex, sit amet fermentum sem neque in turpis.
    //- div(class="col-md products_diagonal-2")
    div(class="col-md")
