div(class="d-flex flex-wrap prices_items")
    div(class="col-md prices_items-item")
        h4 Стратегическая коуч-сессия
        p Цена: £50
        p Длительность: 40-75 минут
    div(class="col-md prices_items-item")
        h4 Пакет из 5 сессий
        p Цена: £250
        p Длительность: 5 недель. Встречи раз в неделю по 40-55 минут.
    div(class="col-md prices_items-item")
        h4 Пакет из 10 сессий
        p Цена: £500
        p Длительность: 2,5 месяца. Встречи раз в неделю по 40-55 минут.
    div(class="col-md prices_items-item")
        h4 Пакет из 14 сессий
        p Цена: £750
        p Длительность: 3,5 месяца. Встречи раз в неделю по 40-55 минут.
    div(class="col-md prices_items-item")
        h4 Срочная разовая коуч-сессия
        p Цена: £70
        p Длительность: 1,5-2 часа.
