div(class="row contact_items")
    div(class="col-lg contact_items-item")
        h3 Записаться на сессию
        p Если у вас есть вопросы, свяжитесь с моим ассистентом:
        p Телефон: +44(0) 555-5555
        p email: email@email.com
        p whatsapp: +44(0) 555-5555
        p telegram: @telegram
        button(type="button" class="btn btn-info button_subscribe") Записаться
    div(class="col-lg contact_items-item")
        h3 Следите за новостями в моих социальных сетях
        div(class="row")
            div(class="col")
                p Instagram
            div(class="col")
                p Facebook
            div(class="col")
                p Telegram
