doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="/css/new-look-styles.css")
        link(href="/fa/all.css" rel="stylesheet")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Allison&family=Philosopher:wght@400;700&display=swap" rel="stylesheet")
		
        title="Oksana Tukane Coaching"

    body
        include ./includes/new-look-navigation.pug
        include ./includes/new-look-hero.pug
        include ./includes/new-look-about-couching.pug
        include ./includes/new-look-session-types.pug
        include ./includes/new-look-about-oksana.pug
        include ./includes/new-look-reviews.pug
        include ./includes/new-look-footer.pug
